@inherits NancyRazorViewBase<dynamic>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <form role="form" action="@Url.Content("~/venues/create")" method="post">
                    <h1>Create Venue</h1>
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input class="form-control" name="name" type="text" size="30" />
                    </div>
                    <div class="form-group">
                        <label for="latitude">Latitude: </label>
                        <input class="form-control" name="latitude" type="text" size="30" />
                    </div>
                    <div class="form-group">
                        <label for="longitude">Longitude: </label>
                        <input class="form-control" name="longitude" type="text" size="30" />
                    </div>
                    <input class="btn btn-lg btn-primary" name="submit" type="submit" value="Create" />
                </form>
            </div>
        </div>
    </div>
</div>