@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Milieu.Web.Models.VenueModel>

<table>
    <tr>
        <td>Id:</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>@Model.Name</td>
    </tr>
</table>
