@inherits NancyRazorViewBase<VenueListModel>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach(var venue in @Model.Venues)
    { 
        <tr>
            <td>@venue.Name</td>
            <td><a href="@Url.Content("~/venues/" + venue.Id)">View</a></td>
            <td><a href="@Url.Content("~/venues/" + venue.Id + "/checkin")">Checkin</a></td>
        </tr>
    }
</table>