<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="coffeeApp">
<head>
    <title>Order Some Coffee</title>

    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div ng-controller="DrinksController" class="container">
        <alert ng-repeat="message in messages" type="{{message.type}}" close="closeAlert($index)">
            {{message.msg}}
            <div ng-show="message.orderId">
                <a ng-href="/api/coffeeshop/{{message.coffeeShopId}}/order/{{message.orderId}}">Order Details</a>
            </div>
        </alert>

        <form ng-submit="placeOrder()">
            <div class="form-group">
                <label>Shop</label>
                <select ng-model="coffeeShop" ng-options="shop.Name for shop in shops" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Drink</label>
                <select ng-model="drink.type" ng-options="type.name for type in types | orderBy:'name'" class="form-control"></select>
            </div>

            <div class="form-group">
                <label>Size</label>
                <select ng-model="drink.size" ng-options="size for size in sizes" class="form-control"></select>
            </div>

            <div class="form-group">
                <label for="newOption">Options</label>
                <input type="text" ng-model="newOption"
                       typeahead="option.name for option in availableOptions | filter:$viewValue | orderBy:'name'"
                       typeahead-on-select="addOption()"
                       class="form-control" placeholder="Type extras here!!!" />
            </div>

            <div class="form-group">
                <span ng-repeat="option in drink.selectedOptions">{{option}}; </span>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input type="text" ng-model="drink.drinker" ng-required="true" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Place Order" class="btn btn-default btn-lg" />
            </div>
        </form>
        <pre>{{drink|json}}</pre>
    </div>

    <script type="text/javascript" src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="Scripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="Scripts/coffee.js"></script>
</body>
</html>